body{
    margin:0;
    background: midnightblue;
    background-repeat:no-repeat;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.graph-container{
    max-width: 800px;
    min-height:600px;
    background-color: white;
    margin:40px auto;

    border-radius:15px;
    padding:30px;
}

.button .myButton {
    border: none;
    color: white;
    background-color: #07a7f1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.button .myButton .hover {
    background-color: solid #10b3ff;
}

.button .myButton .active {
    background-color: solid #10b3ff;
    border-radius: 10px;
}

.button .myButton .disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.button .myButton .wrong {
    opacity: 1;
    background: red;
}

.button .myButton .correct {
    opacity: 1;
    background: green;
}
